@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    margin: 0;
    padding: 0;
    background-color: #EEF2F3;
}

.hover {
    cursor: pointer;
}

.container {
    display: flex;
    height: 700px;
    font-family: lato;
}


            /* ------------ Página De Login------------ */
    .login {
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        background-color: #EEF2F3;
        text-align: center;
        padding: 0 5px;
    }

    .imagem {
        flex: 1;
        background-image: url(./imagem/capa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #imagem {
        flex: 1;
        background-image: url(imagem/capa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .login-box{
        background:#CBDBF2;
        border-radius: 5px;
        border: none;
        height: 30px;
        width:300px;
        padding: 5px 2px;
        border:none;
        text-align: center;
    }

    .login-elements{
        position: relative;
        font-size:14pt;
    }

    .login-rodape{
        position: relative;
        color: #a4dfa5; 
        font-size:14px;
    }

    input[id="login"]{
        width: 300px;
        height: 35px;
        color: white;
        padding: 7px;
        background-color: #2f6a78;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font: 14pt;
    }

    .msg-erro {
        color: #cd374d;
        font-size: 14px;
        margin-top: 1px !important;    
    }

    .msg-erro-geral {
        color: #cd374d;
        font-size: 14px;
    }

    .erro-hora{
        margin-left: 25px;
    }


            /* ------------ Página Seleção de Perfil ------------ */

.selecao {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    background-color: #EEF2F3;
    text-align: center;
    padding: 0 5px;
}
      
    .imagem {
        flex: 1;
        background: #2f6a78;
        background-image: url(imagem/capa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
      
    .fulano h2 { display: inline; }

    .perfil{
        justify-content: center;
        background:#CBDBF2;
        border-radius: 5px;
        border: none;
        height: 35px;
        width:300px;
        text-align-last:center;
    }


            /* ------------ Página Cadastra Horas ------------ */
.user {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: top;
    background-color: #EEF2F3;
    text-align: center;
    padding: 0 5px;
}

    .tooltip {
        width:200px;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
      
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 90px;
        background-color: black;
        opacity:50%;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        top: 95%;
        left: 70%;    
    }
      
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
      
    .opcoes button{
        width: 300px;
        height: 35px;
        padding: 7px;
        color: white;
        background-color: #2f6a78;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font: 14pt;
    }
      
    #divBusca{
        background-color:#CBDBF2;
        border:none;
        border-radius:5px;
        width:300px;
        height: 35px;
    }

    #txtBusca{
        float:left;
        margin-top:3px;
        margin-left:10px;
        background-color:transparent;
        border: none;
        height:27px;
        width:250px;
      }

    #btnBusca{
        margin-top:5px;
        cursor:pointer;
    }
      
    .tabela {
        flex: 2;
        background: #2f6a78;
        flex-direction: column;
        justify-content: space-evenly;
    }
      
    .painel{
        position: relative;
        left: 25px;
        top: 5px;
        background:#CBDBF2;
        border-radius: 5px;
        border: none;
        height: relative;
        width: 58vw;
    }
      
    .h3{
       padding-left: 25px;
       padding-top:25px;
    }

    .h4{
        margin-left: 25px;
        margin-top:-25px;
    }
      
    .cadastro{
        display:flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        margin-top:25px;
    }
      
    input[type="date"] {
        margin-top: 5px;
        border-radius: 5px;
        width: 130px;
        color: #95a5a6;
        border:none;
        background:#EEF2F3;
        padding:5px;
    }
      
    input[type="time"] {
        margin-top: 5px;
        border-radius: 5px;
        color: #95a5a6;
        border:none;
        background:#EEF2F3;
        padding:5px;
    }
      
    #drop {
        margin-top: 5px;
        border-radius: 5px;
        width: 150px;
        height: 30px;
        color: #95a5a6;
        border:none;
        background:#EEF2F3;
        padding:5px;
    }
      
    .inserir{
        float: right;
        position: relative;
        height: 29px;
        width:70px;
        padding: 5px;
        margin-top:24px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        background-color: #253243;
    }
      
    .quadro{
        margin-top:-10px;
    }
      
    .table{
        text-align:center;
        border-collapse: collapse;
        background:#DAE7F9;
        margin: -15px 0;
        border: 25px solid #CBDBF2;
        font-size: 10pt;
        min-width: 300px;
    }

    .table thead tr {
        background-color: #EEF2F3;
        text-align: left;
    }

    .table.table {
        table-layout: fixed;
        width: 58vw;
    }
      
    .table th,
    .table td {
        text-align:center;
        padding: 15px;
    }
      
    #edit-btn,
    #trash-btn{
        cursor:pointer;
    }
      
    .enviar button{
        float: right;
        position: relative;
        right: 25px;
        height: 25px;
        padding: 5px;
        margin-left: 5px;
        color: white;
        background-color: #2f6a78;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

                /* ---------------- Botões pagina consulta -------------------*/
    
    #excel-btn,
    #pdf-btn,
    #print-btn{
        cursor:pointer;
        float: right;
        margin-right: 25px;
        margin-top:3px;
    }  

    .error {
        width: 92%; 
        margin: 0px auto; 
        padding: 10px; 
        border: 1px solid #a94442; 
        color: #a94442; 
        background: #f2dede; 
        border-radius: 5px; 
        text-align: left;
      }
      .success {
        color: #3c763d; 
        background: #dff0d8; 
        border: 1px solid #3c763d;
        margin-bottom: 20px;
      }